.descargar {
  background-color: var(--grisClaro);
  padding: 5rem 0;
}
.descargar__grid {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .descargar__grid {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.descargar__imagen {
  width: 50%;
  margin: 5rem auto 0 auto;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 300ms;
}
@media (min-width: 768px) {
  .descargar__imagen {
    margin-top: 0;
  }
}
.descargar__imagen:hover {
  -webkit-transform: rotate(4deg) scale(1.2);
  transform: rotate(4deg) scale(1.2);
}

.tiendas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tiendas__heading,
.tiendas__texto {
  text-align: center;
}
.tiendas__heading {
  color: var(--secundario);
  margin: 2rem 0 0 0;
}
.tiendas__texto {
  margin-bottom: 3rem;
}
.tiendas__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.tiendas__enlace {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 500ms;
}
.tiendas__enlace:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
