.pasos {
  margin-top: 5rem;
}

.pasos__wave {
  margin-bottom: -1px;
}

.pasos__contenido {
  background-color: var(--primario);
}

.pasos__heading {
  text-align: center;
  color: var(--blanco);
}

.pasos__heading--descripcion {
  font-size: 1.8rem;
  display: block;
}

@media (min-width: 768px) {
  .pasos__grid {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.pasos__imagen {
  transition-property: transform, -webkit-transform;
  transition-duration: 300ms;
}

.pasos__imagen:hover {
  -webkit-transform: rotate(-4deg) scale(1.2);
  transform: rotate(-4deg) scale(1.2);
}
