@media (min-width: 768px) {
  .contenido-contacto {
    background-image: url(../../img/granos_cafe.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 40%;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.formulario .campo {
  margin-bottom: 2rem;
}
.formulario .campo:last-of-type {
  margin-bottom: 0;
}
.formulario .campo label {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.formulario .campo input:not([type="submit"]),
.formulario .campo select {
  border: 0.5rem solid var(--primario);
  padding: 1rem;
  width: 100%;
}
.formulario .campo input[type="submit"] {
  background-color: var(--primario);
  border: none;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
}
.formulario .campo input[type="submit"]:hover {
  cursor: pointer;
}
