@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contenido-nosotros .imagen {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .contenido-nosotros .imagen {
    margin: 0 2rem 0 0;
  }
}
.contenido-nosotros .imagen img {
  border: 3rem solid var(--blanco);
  box-shadow: 9px 10px 5px -7px rgba(0, 0, 0, 0.35);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.contenido-nosotros .texto blockquote {
  border-left: 0.5rem solid var(--primario);
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}
