.proceso-cafe {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .proceso-cafe {
    align-items: center;
    display: flex;
    gap: 5rem;
  }
}
.proceso-cafe:last-of-type {
  margin-bottom: 0;
}
.proceso-cafe:nth-child(2n) .texto {
  order: -1;
}
.proceso-cafe .imagen,
.proceso-cafe .texto {
  flex: 1;
}
.proceso-cafe .texto {
  margin-top: 1rem;
}
.proceso-cafe .texto h3 {
  color: var(--primario);
  margin: 0;
  text-align: left;
}
.proceso-cafe .texto h3:after {
  background-color: var(--secundario);
  content: "";
  display: block;
  height: 5px;
  width: 50%;
}
