.footer {
  border-bottom: 0.5rem solid var(--primario);
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .footer__grid {
    display: flex;
    justify-content: space-between;
  }
}
.footer__copyright {
  font-size: 2.4rem;
  margin-top: 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin: 0;
  }
}
