.footer {
  background-color: var(--primario);
}

.footer .contenido-footer {
  padding: 5rem;
}

@media (min-width: 768px) {
  .footer .contenido-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.footer .copyright {
  color: var(--blanco);
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.footer-box {
  font-family: var(--fuenteCursiva);
  margin-bottom: 5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-box {
    margin-bottom: 0;
  }
}

.footer-box h3 {
  color: var(--secundario);
  font-family: var(--fuenteCursiva);
  font-size: 2.4rem;
  margin: 0 0 1rem;
}

.footer-box a,
.footer-box p {
  font-size: 2rem;
  margin: 0;
}
