@media (min-width: 768px) {
  .crea-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
}

.crea-grid h2 {
  color: var(--secundario);
  display: inline-block;
  font-size: 3.6rem;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .crea-grid h2 {
    margin-top: 0;
  }
}

.crea-grid h2:after {
  content: "";
  display: block;
  width: calc(100% + 1rem);
  height: 1rem;
  margin: -1.4rem 0 0;
}
