.estadisticas h2 {
  color: var(--secundario);
  display: inline-block;
  font-size: 3.6rem;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .estadisticas h2 {
    margin-top: 0;
  }
}

.estadisticas h2:after {
  content: "";
  display: block;
  background-color: var(--primario);
  margin: -1.4rem 0 0;
  width: calc(100% + 1rem);
  height: 1rem;
}
