---
import Layout from "../layouts/Layout.astro";

import SearchBar from "../components/SearchBar.astro";
import CategoryFilter from "../components/CategoryFilter.astro";
import Cards from "../components/Cards.astro";
---

<Layout>
  <div class="main-container">
    <h1 class="main-title">Templates</h1>
    <p class="main-description">
      Descarga nuestros templates hechos con diferentes tecnologías.
    </p>

    <SearchBar />
    <CategoryFilter />
    <Cards />
  </div>
</Layout>

<style>
  .main-container {
    text-align: center;
    padding: 20px;
  }

  .main-title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primaryTextColor);
    margin-bottom: 10px;
  }

  .main-description {
    font-size: 1.2rem;
    color: var(--secondaryTextColor);
    margin-bottom: 30px;
  }
</style>
