---
import Layout from "../layouts/Layout.astro";

import SearchBar from "../components/SearchBar.astro";
import CategoryFilter from "../components/CategoryFilter.astro";
import Cards from "../components/Cards.astro";
---

<Layout>
  <div class="main-container">
    <h1 class="main-title">Front-Hub</h1>
    <p class="main-description">
      Descarga componentes y plantillas hechas con diferentes tecnologías.
    </p>

    <SearchBar />
    <CategoryFilter />
    <Cards />
  </div>
</Layout>

<style>
  .main-container {
    text-align: center;
    padding: 20px;
  }

  .main-title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: var(--primaryTextColor);
    background: linear-gradient(to right, #be123c, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    margin: 20px;
  }

  .main-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #be123c, #ff758f);
    bottom: -10px;
    left: 0;
    border-radius: 10px;
  }

  .main-title:hover {
    color: #be123c;
    transform: scale(1.05);
    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }

  .main-description {
    font-size: 1.2rem;
    color: var(--black);
    margin-bottom: 30px;
  }
</style>
