---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="main-container">
    <h1 class="main-title">Templates Collection</h1>
    <p class="main-description">
      Explora nuestros templates hechos con diferentes tecnologías.
    </p>
  </div>
</Layout>

<style>
  .main-container {
    text-align: center;
    padding: 20px;
  }

  .main-title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primaryTextColor);
    margin-bottom: 10px;
  }

  .main-description {
    font-size: 1.2rem;
    color: var(--secondaryTextColor);
    margin-bottom: 30px;
  }
</style>
