.blog__grid {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .blog__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .blog__grid--pagina {
    grid-template-columns: repeat(3, 1fr);
  }
}

