.cursos {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.65),
      rgb(0 0 0 / 0.65)
    ),
    url("../../img/cursos_bg.jpg");
  padding: 10rem 0;
  margin-top: 10rem;
  background-size: cover;
  background-position: 50%;
}
@media (min-width: 768px) {
  .cursos__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.cursos__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .cursos__contenido {
    grid-column: 2 / 3;
  }
}

.cursos__texto {
  color: var(--blanco);
  text-align: center;
  font-size: 2.4rem;
}
.cursos__enlace {
  color: var(--blanco);
  margin-top: 2rem;
  display: inline-block;
  border: 2px solid var(--primary);
  text-decoration: none;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.cursos__enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}
