.entrada {
  max-width: 80rem;
  margin: 0 auto;
}
.entrada__contenido {
  padding: 2rem;
}
.entrada__titulo {
  font-weight: 400;
  font-size: 2.8rem;
  margin: 0;
  line-height: 1.2;
}
.entrada__fecha {
  font-size: 1.6rem;
  color: var(--primary);
}

.entrada__enlace {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  color: var(--negro);
  padding: 1rem 5rem;
  border: 2px solid var(--primary);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.entrada__enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.entrada__texto {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.6rem;
}
