.destinos__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .destinos__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .destinos__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.destino {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.destino__imagen {
  width: 14rem;
}

.destino__distancia,
.destino__nombre {
  margin: 0;
}
