.header {
  background-image: url(../../img/header.jpg);
  background-position: 50%;
  background-size: cover;
  padding: 3rem 0 20rem;
}

.header__busqueda {
  margin-top: 5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header__busqueda {
    margin-top: 30rem;
  }
}

.header__busqueda-boton {
  background-color: var(--blanco);
  color: var(--primario);
  border-radius: 3rem;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 2rem 4rem;
}

@media (min-width: 768px) {
  .header__busqueda-boton {
    display: inline-block;
  }
}

.barra {
  display: none;
}

@media (min-width: 768px) {
  .barra {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .barra__navegacion {
    display: flex;
    gap: 4rem;
  }
}

.barra__link {
  color: var(--blanco);
}

.barra__nombre {
  color: var(--blanco);
  margin: 0;
}

.formulario {
  background-color: var(--blanco);
  border-radius: 5rem;
  box-shadow: 0 3px 7px 0 var(--gris);
  margin: 5rem auto 2rem;
  padding: 3rem 0;
}

@media (min-width: 1024px) {
  .formulario {
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    padding: 0;
  }
}

.formulario__campo {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

@media (min-width: 1024px) {
  .formulario__campo:first-child {
    padding-left: 4rem;
  }
}

.formulario__campo:hover {
  background-color: var(--gris-blanco);
  border-radius: 5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.formulario__label {
  font-size: 1.2rem;
  font-weight: 900;
}

.formulario__input {
  border: none;
  color: var(--gris-blanco);
  width: 100%;
}

.formulario__submit {
  background-image: radial-gradient(circle, #ff385c 0, #bd1e59 100%);
  border: none;
  border-radius: 2rem;
  color: var(--blanco);
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  height: 4rem;
  padding: 0 2rem;
  text-transform: uppercase;
}
